{% extends 'layout.html.twig' %}
{% block title %} {{parent()}} | Connexion {% endblock %}
{% block meta %}
    <meta name="description" content="">
{% endblock %}

{% block dataStructured %}{% endblock %}

{% block stylesheets %}
	{{parent()}}
    <style type="text/css">
    	.bg-success-alt{background: #fff}
    	.container-plan h2, .container-plan h6{
    		color: #fff;
    	}
    </style>
{% endblock %}

{% block body_web %}

	<div data-overlay class="bg-gradient min-vh-100 bg-light d-flex flex-column justify-content-md-center o-hidden">
      <section class="py-3">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-5 col-md-6 mb-5 mb-md-0">
              <div class="card card-body shadow">
                <h1 class="h5 text-center">Connexion</h1>
                {% if error %}
   				    <div class="alert alert-warning alert-dismissible fade show" role="alert">
   					  {{ error.messageKey|trans(error.messageData, 'security') }}
   					  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
   					    <span aria-hidden="true">&times;</span>
   					  </button>
   				  	</div>
   				{% endif %}
                
               <form  method="post">
                  <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                  <div class="form-group">
                    <input type="email" class="form-control" id="username" name="email" placeholder="adresse email" value="{{ last_username }}" required="required" autocomplete="off">
                  </div>
                  <div class="form-group">
                    <input type="password" id="password" name="password" required="required" autocomplete="current-password" class="form-control" placeholder="mot de passe">
                    <div class="text-right text-small mt-2">
                      <a href="javascripts:void()" style="display: none;">Mot de passe oublié?</a>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="custom-control custom-checkbox text-small">
                      <input type="checkbox" class="custom-control-input" id="sign-in-remember" name="_remember_me" value="on">
                      <label class="custom-control-label" for="sign-in-remember">Se souvenir de moi</label>
                    </div>
                  </div>
                  <button class="btn btn-primary btn-block" type="submit" id="_submit" name="_submit">Connexion</button>
                </form>
              </div>
              <div class="text-center text-small mt-3" style="color:#fff">
                  Vous n'avez pas encode de compte ? <a href="{{path('registration')}}" style="color:#fff">Créez votre compte</a>
              </div>
            </div>
            <div class="col-md-6 col-lg-auto ml-lg-5 ">
              <div class="mb-5">
                <div class="mb-2 mb-md-4" data-aos="fade-left" data-aos-delay="100">
                  <div class="media rounded align-items-center pl-3 pr-3 pr-md-4 py-2 bg-white shadow-sm">
                    <span class="avatar avatar-sm flex-shrink-0 mr-3" style="font-size: 35px;align-items: center;">🚚</span>
                    <div class="text-dark mb-0">Livraison disponible partout dans le monde</div>
                  </div>
                </div>
              </div>
              <div class="container-plan">
                <h2>Epods One Sans Fil:</h2>
                <div class="mb-3" data-aos="fade-left" data-aos-delay="500">
                  <div class="d-flex align-items-center">
                    <div class="rounded-circle bg-success-alt">
                      <img src="{{ asset('assets/img/icons/interface/icon-check.svg')}}" alt="Box icon" class="m-2 icon icon-xs bg-success" data-inject-svg>
                    </div>
                    <h6 class="mb-0 ml-3">Propre et démêlé.</h6>
                  </div>
                </div>
                <div class="mb-3" data-aos="fade-left" data-aos-delay="300">
                  <div class="d-flex align-items-center">
                    <div class="rounded-circle bg-success-alt">
                      <img src="{{ asset('assets/img/icons/interface/icon-check.svg')}}" alt="Binoculars icon" class="m-2 icon icon-xs bg-success" data-inject-svg>
                    </div>
                    <h6 class="mb-0 ml-3">Plus de liberté de mouvement.</h6>
                  </div>
                </div>
                <div class="mb-3" data-aos="fade-left" data-aos-delay="400">
                  <div class="d-flex align-items-center">
                    <div class="rounded-circle bg-success-alt">
                      <img src="{{ asset('assets/img/icons/interface/icon-check.svg')}}" alt="Layouts icon" class="m-2 icon icon-xs bg-success" data-inject-svg>
                    </div>
                    <h6 class="mb-0 ml-3">Partagez plus facilement.</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

{% endblock body_web %}

{% block javascripts %}
	{{parent()}}
{% endblock %}
