{% extends 'layout.html.twig' %}
{% block title %} {{parent()}} | Accueil {% endblock %}
{% block meta %}
<meta name="description" content="">
{% endblock %}
{% block dataStructured %}{% endblock %}
{% block stylesheets %}
{{parent()}}
<style type="text/css">
   nav.navbar.navbar-expand-lg.navbar-dark {
       background: transparent;
   }
   nav.navbar.navbar-expand-lg.navbar-dark.position-fixed.scrolled {
       background: white;
   }
   .header-video-text{
      color: #fff;
      font-size: 22px;
      line-height: 31px;
   }
   .vinp-pro-ttl{
      text-align: center;
      font-size: 35px;
      line-height: 1.1em;
   }
</style>
{% endblock %}
{% block body_web %}
<div data-overlay class="video-container bg-primary-3 jarallax text-white" data-jarallax data-speed="0.2">
   <!-- <img src="assets/img/AirPods-Pro.png" alt="Background" class="jarallax-img opacity-30"> -->
   <video autoplay muted playsinline loop volume="0.2" class="jarallax-img opacity-30" id="videoHeader"  data-aos="zoom-in" data-aos-delay="400">
      
   </video>
   <section class="pb-0">
      <div class="container pb-5">
         <div class="row justify-content-center text-center">
            <div class="col-xl-8 col-lg-10 col-md-11">
               <a class="btn btn-lg btn-light rounded-circle mb-4 mb-md-5" href="#" data-aos="zoom-in" data-aos-delay="400" onclick="toggleMute()" style="display:none">
               <img src="assets/img/icons/interface/icon-media-play.svg" alt="Media Play Icon" class="icon icon-lg bg-dark pl-1" data-inject-svg>
               </a> 
            </div>
         </div>
      </div>
      <div class="divider divider-bottom bg-white"></div>
   </section>
</div>
<section class="features-more section-spacing">
   <div class="container">
      {% for product   in products %}
      <div class="row justify-content-center">
         <div class="col-md-6 col-xs-12 align-self-center" style="text-align: center;">
         
            <div>
            <img alt="miniature" style="height: 250px;margin-bottom: 25px;" src="{{asset('assets/img/vinspro-mini.jpeg')}}"></div>
            <img style="width:250px;color: #000;text-transform: uppercase;font-weight: 600;font-size: 10px;border-radius: 50px;height: auto;margin: auto;margin-bottom: 15px;" src="{{asset('assets/img/vinspro.png')}}">
         </div>
         <div class="col-md-6 col-xs-12" style="text-align: center;">
            <div style="background: #fff;border-radius: 10px;padding: 35px 20px;margin: auto;box-shadow: 0px 5px 25px -5px rgba(0, 0, 0, 0.1);">
               <h1 style="font-size: 32px;margin-bottom: 5px;font-weight: 600;"><span style="color: #2c3038;">{{ product.name}}</span></h1>
               <h1 style="font-weight: 700;font-size: 44px;color: #2c3038;">{{ product.price}}€ <span style="font-size: 28px;font-weight: 400;text-decoration: line-through;">{{ product.getOldPrice()}}€</span></h1>
               <div style="font-size: 13px;width: 85%;margin: auto;margin-bottom: 5px;color: #111;">
                  {{ product.description | raw }}
               </div>
               <div style="margin-top:10px;">
                  <img alt="miniature" style="height: 30px;border: 1px solid #e8e8e8;padding: 0px 10px;border-radius: 5px;background: #fdfdfd;" src="https://cdn3.iconfinder.com/data/icons/payment-method-1/64/_Visa-512.png"><img alt="miniature" style="height: 30px;border: 1px solid #e8e8e8;padding: 0px 10px;margin: 0px 15px;border-radius: 5px;background: #fdfdfd;" src="https://cdn3.iconfinder.com/data/icons/payment-method-1/64/_Mastercard-512.png"><img alt="miniature" style="height: 30px;border: 1px solid #e8e8e8;padding: 0px 10px;border-radius: 5px;background: #fdfdfd;" src="https://cdn3.iconfinder.com/data/icons/payment-method-1/64/_Maestro-512.png"> 
                  <p style="font-size: 12px;font-weight: 400;margin-top: 10px;margin-bottom: 15px;">Paiements sécurisés.</p>
               </div>
               <button onclick="addToCard({{product.id}}, 1, 'product')" type="button" class="btn btn-primary btn-loading btn-add-to-card" style="margin:auto">Ajouter au Panier</button>
            </div>
         </div>
      </div>
      {% endfor %}
   </div>
</section>
<div class="row justify-content-center" style="margin: 0px 0;">
   <div class="col-lg-4 col-md-6 col-xs-12" style=" margin: 0; padding: 0; ">
      <div style="background: #25282f;padding: 15px 0px;text-align: center;font-weight: 500;font-size: 19px;color: #fff;line-height: 0px;"><img alt="miniature" style="width: 80px;height: 80px;" src="https://cdn0.iconfinder.com/data/icons/kameleon-free-pack/110/Party-Poppers-128.png">14 jours de rétractation</div>
   </div>
   <div class="col-lg-4 col-md-6 col-xs-12" style=" margin: 0; padding: 0; ">
      <div style="background: #25282f;padding: 15px 0px;text-align: center;font-weight: 500;font-size: 19px;color: #fff;line-height: 0px;"><img alt="miniature" style="width: 80px;height: 80px;" src="https://cdn0.iconfinder.com/data/icons/kameleon-free-pack/110/Money-Increase-128.png">Satisfait ou remboursé</div>
   </div>
   <div class="col-lg-4 col-md-6 col-xs-12" style=" margin: 0; padding: 0; ">
      <div style="background: #25282f;padding: 15px 0px;text-align: center;font-weight: 500;font-size: 19px;color: #fff;line-height: 0px;"><img alt="miniature" style="width: 80px;height: 80px;" src="https://cdn0.iconfinder.com/data/icons/kameleon-free-pack/110/Conveyor-Belt-256.png">Livraison dans le monde</div>
   </div>
</div>
<section class="border-bottom" id="video-lightbox">
      <div class="container">
        <div class="row justify-content-between align-items-start">
          <div class="col-lg-3 mb-4 sticky-lg-top">
            <h4>VinsPro</h4>
            <p>Les produits VinsPro sont des écouteurs de haute qualité, vous offrant une liberté complète d’action pendant que vous profitez de votre playlist. Les Vinspro se connectent en 3 secondes à votre smartphone, votre montre connectée et votre ordinateur</p>
          </div>
          <div class="col-lg-8">
            <div class="row mb-md-5 mb-4">
              <div class="col">
                <h2>Présentation des <span style=" color: #2c3038; background:#f7f7f7">VinsPro</span> !</h2>
                <div class="d-flex position-relative align-items-center justify-content-center rounded" style="background: #f7f7f7;flex-wrap:wrap">
                  <div class="vinp-pro-ttl">
                     Pour un prix<br> exceptionnel à <br>19.99€
                  </div>
                  <img class="rounded img-fluid" src="{{asset('assets/img/vinspro.png')}}" alt="Video cover image" style="max-width: 302px;">
                  <a data-fancybox="" href="https://vinspro.fr/assets/video/video-present-pc.mp4" class="btn btn-lg btn-light rounded-circle position-absolute aos-init aos-animate" data-aos="zoom-in">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="injected-svg icon icon-lg bg-dark pl-1" data-src="/assets/img/icons/interface/icon-media-play.svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                     <path d="M18.2403 11.5659C18.5762 11.7578 18.5762 12.2422 18.2403 12.4341L5.74807 19.5725C5.41474 19.763 5 19.5223 5 19.1384L5 4.86159C5 4.47768 5.41474 4.23699 5.74807 4.42747L18.2403 11.5659Z" fill="#2C3038"></path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
<!-- <section class="features-more section-spacing section">
   <div class="ui-shape ui-shape-s1"></div>
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-lg-9" style="text-align: center;margin-bottom: 50px;">
            <h2>Présentation des <span style=" color: #2c3038; ">Epods One</span> !</h2>
         </div>
      </div>
      <div class="row justify-content-center">
         <div class="col-lg-10" style="text-align: center;">
            <a href="https://youtu.be/188arsh_DHQ" data-lity="">
               <img style="border-radius:6px;max-height:274px;height:auto;box-shadow: 0px 5px 25px -5px rgba(0, 0, 0, 0.1);" src="https://imgur.com/TJk0PzY.png">
               <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"><span style="height: 85px; width: 85px; background: linear-gradient(135deg, #47b5f5 0%, #2c3038 100%); border-radius: 50%; display: inline-block;"><img style="height:50px;margin: 17px 0 0 6px;" src="img/play-b.png"></span></div>
            </a>
         </div>
      </div>
   </div>
</section> -->
<div class="modal fade" id="add-product-modal" tabindex="-1" role="dialog" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content row flex-row no-gutters border-0">
         <div class="col-lg-6">
            <img src="assets/img/square-3.jpg" alt="Image"  class=" product-image rounded-left img-fluid">
         </div>
         <div class="col-lg-6 d-flex flex-column">
            <div class="modal-header text-center border-0 p-0">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">
               <img src="assets/img/icons/interface/icon-x.svg" alt="Icon">
               </span>
               </button>
            </div>
         </div>
      </div>
   </div>
</div>
<section class="cta section-spacing">
   <div class="ui-shape-s6"></div>
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-lg-10" style="text-align: center;">
            <div class="row justify-content-center" style="border-bottom: 1px solid #ffffff4a;padding-bottom: 30px;">
               <div class="col-lg-3" style="width: 35%;">
                  <div style="text-align: center;margin-bottom: 20px;">
                     <img alt="miniature" style="width: 70px;height: 70px;text-align: center;background: #ffffff;border-radius: 10px;padding: 20px;box-shadow: 0px 5px 25px -5px rgba(0, 0, 0, 0.1);" src="https://cdn3.iconfinder.com/data/icons/picons-social/57/16-apple-256.png">
                     <p style="font-weight: 500;font-size: 20px;color: #ffffff;margin-top: 5px;">IOS</p>
                  </div>
               </div>
               <div class="col-lg-3" style="width: 35%;">
                  <div style="text-align: center;margin-bottom: 20px;">
                     <img alt="miniature" style="width: 70px;height: 70px;text-align: center;background: #ffffff;border-radius: 10px;padding: 20px;box-shadow: 0px 5px 25px -5px rgba(0, 0, 0, 0.1);" src="https://cdn3.iconfinder.com/data/icons/picons-social/57/36-android-512.png">
                     <p style="font-weight: 500;font-size: 20px;color: #ffffff;margin-top: 5px;">Android</p>
                  </div>
               </div>
            </div>
            <div class="row justify-content-center" style="margin-top: 50px;">
               <div class="col-lg-3 col-md-6 col-xs-12">
                  <div style="text-align: center;margin-bottom: 20px;">
                     <p style="font-weight: 700;font-size: 33px;color: #ffffff;margin-bottom: -10px;">24H</p>
                     <p style="font-weight: 500;font-size: 20px;color: #ffffff;">d’écoute avec plusieurs charges supplémentaires dans le boitier</p>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6 col-xs-12">
                  <div style="text-align: center;margin-bottom: 20px;">
                     <p style="font-weight: 700;font-size: 33px;color: #ffffff;margin-bottom: -10px;">4,5H</p>
                     <p style="font-weight: 500;font-size: 20px;color: #ffffff;">d’écoute sur une seule charge</p>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6 col-xs-12">
                  <div style="text-align: center;margin-bottom: 20px;">
                     <p style="font-weight: 700;font-size: 33px;color: #ffffff;margin-bottom: -10px;">1H</p>
                     <p style="font-weight: 500;font-size: 20px;color: #ffffff;">d’écoute après seulement 5 minutes de charges</p>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6 col-xs-12">
                  <div style="text-align: center;margin-bottom: 20px;">
                     <p style="font-weight: 700;font-size: 33px;color: #ffffff;margin-bottom: -10px;">4. 130H</p>
                     <p style="font-weight: 500;font-size: 20px;color: #ffffff;">Autonomie en veille</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
{#<!--
<section class="bg-light">
   <div class="container">
      <div class="row align-items-center justify-content-center">
         {% for formule   in formules %}
         <div class="col-sm-9 col-md-7 col-lg-4 mb-3 mb-md-4 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
            <div class="card card-body align-items-center shadow">
               <div class="text-center mb-4">
                  <h4>{{formule.name}}</h4>
                  <div class="d-flex align-items-center justify-content-center mb-1">
                     <span class="h5 mb-0 mr-2">$</span>
                     <span class="display-3 mb-0 text-dark">{{formule.price}}</span>
                  </div>
                  <div>{{formule.month}} mois</div>
               </div>
               <ul class="list-unstyled p-0">
                  <li class="my-3">
                     <div class="d-flex align-items-center">
                        <div class="rounded-circle bg-success-alt">
                           <img src="assets/img/icons/interface/icon-check.svg" alt=" icon=" class="m-2 icon icon-xs bg-success" data-inject-svg>
                        </div>
                        <h6 class="mb-0 ml-3">Livraison  {{formule.getPriceShipping()}} $</h6>
                     </div>
                  </li>
               </ul>
               <a href="javascript:void()"  onclick="addFormuleToCard({{formule.id}})"class="btn btn-lg btn-block btn-outline-primary">Souscrire </a>
            </div>
         </div>
         {% endfor %}
      </div>
   </div>
</section>-->#}
<section class="features-more section-spacing">
   <div class="container">
      <div id="" class="row justify-content-center">
         <div class="col-lg-9" style="text-align: center;margin-bottom: 50px;">
            <h2 style="font-size:2.5em">Ce que vous <span style=" color: #2c3038; ">recevrez</span>...</h2>
         </div>
      </div>
      <div class="row justify-content-center">
         <div class="col-lg-8 col-md-7 col-xs-12" style="text-align: center;">
            <img alt="miniature" src="{{asset('assets/img/recevoir.png')}}" style="
               width: 100%;
               height: auto;
               ">
         </div>
      </div>
   </div>
</section>
<div class="">
   <div class="row justify-content-center" style=" margin: 20px 0; ">
      <div class="col-lg-3 col-md-6 col-xs-12" style=" margin: 0; padding: 0; ">
         <div style="background: #f2dece;padding: 15px 0px;margin-top: -20px;margin-bottom: 20px;text-align: center;color: #404040;">Détendez-vous en musique !</div>
         <img alt="miniature" style="margin: -20px 0px;width: 100%;height: auto;" src="{{asset('assets/img/img-1.png')}}">
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12" style=" margin: 0; padding: 0; ">
         <div style="background: #bd814a;padding: 15px 0px;margin-top: -20px;margin-bottom: 20px;text-align: center;color: #fff;">Visioconférence plus à l'aise !</div>
         <img alt="miniature" style="margin: -20px 0px;width: 100%;height: auto;" src="{{asset('assets/img/img-3.png')}}">
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12" style=" margin: 0; padding: 0; ">
         <div style="background: #843e4a;padding: 15px 0px;margin-top: -20px;margin-bottom: 20px;text-align: center;color: #fff;">Appelez vos amis !</div>
         <img alt="miniature" style="margin: -20px 0px;width: 100%;height: auto;" src="{{asset('assets/img/img-2.png')}}">
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12" style=" margin: 0; padding: 0; ">
         <div style="background: #f0ece9;padding: 15px 0px;margin-top: -20px;margin-bottom: 20px;text-align: center;color: #404040;">Suivez votre programme fitness !</div>
         <img alt="miniature" style="margin: -20px 0px;width: 100%;height: auto;" src="{{asset('assets/img/img-4.png')}}">
      </div>
   </div>
   <section class="features-more section-spacing">
      <div class="container">
         <div id="" class="row justify-content-center">
            <div class="col-lg-9" style="text-align: center;margin-bottom: 50px;">
               <h2>Le choix <span style=" color: #2c3038; ">SIMPLE</span> !</h2>
            </div>
         </div>
         <div class="row justify-content-center">
            <div class="row col-lg-6 col-md-6 col-xs-12" style="margin-bottom: 30px;">
               <div style="text-align: center;margin-bottom: 20px;" class="col-lg-6">
                  <div style="
                     border: 10px solid #ffffff;
                     border-radius: 10px;
                     box-shadow: 0px 5px 25px -5px rgba(0, 0, 0, 0.1);
                     background: #fff;
                     ">
                     <div style="
                        padding: 20px;
                        background: #fff;
                        border-radius: 10px 10px 0px 0px;
                        "><img alt="miniature" style="width: 100%;height: auto;" src="{{asset('assets/img/vinspro.png')}}"></div>
                     <div style="
                        background: #e2f3e7;
                        padding-top: 3px;
                        padding-bottom: 10px;
                        border-radius: 10px;
                        ">
                        <p style=" font-weight: 700; font-size: 32px; color: #2c3038; margin-bottom: 0px; ">19,99€</p>
                        <p style=" margin-top: -5px; text-transform: uppercase; font-size: 13px; font-weight: 600; color: #111; ">VinsPro Sans fil</p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-5 align-self-center">
                  <p style="
                     background: #69e278;
                     color: #fff;
                     padding: 5px 20px;
                     border-radius: 20px;
                     font-size: 17px;
                     margin-bottom: 20px;
                     ">Sans Fil</p>
                  <p style="
                     color: #111;
                     line-height: 20px;
                     margin-bottom: 15px;
                     font-size: 17px;
                     ">Propre et démêlé.</p>
                  <p style="
                     color: #111;
                     line-height: 20px;
                     margin-bottom: 15px;
                     font-size: 17px;
                     ">Plus de liberté de mouvement.</p>
                  <p style="
                     color: #111;
                     line-height: 20px;
                     font-size: 17px;
                     margin-bottom: 15px;
                     ">Partagez plus facilement.</p>
               </div>
            </div>
            <div class="row col-lg-6 col-md-6 col-xs-12" style="margin-bottom: 30px;">
               <div style="text-align: center;margin-bottom: 20px;" class="col-lg-6">
                  <div style="
                     border: 10px solid #ffffff;
                     border-radius: 10px;
                     box-shadow: 0px 5px 25px -5px rgba(0, 0, 0, 0.1);
                     background: #fff;
                     ">
                     <div style="
                        padding: 20px;
                        background: #fff;
                        border-radius: 10px 10px 0px 0px;
                        "><img alt="miniature" style="width: 100%;height: auto;" src="https://static.fnac-static.com/multimedia/Images/CF/CF/B8/A1/10598607-1505-1540-1/tsp20190124165010/Ecouteurs-filaire-universels-intra-auriculaire-pour-Apple-iphone-Telephone-Blanc.jpg"></div>
                     <div style="
                        background: #e2f3e7;
                        padding-top: 3px;
                        padding-bottom: 10px;
                        border-radius: 10px;
                        ">
                        <p style=" font-weight: 700; font-size: 32px; color: #2c3038; margin-bottom: 0px; ">39,99€</p>
                        <p style=" margin-top: -5px; text-transform: uppercase; font-size: 13px; font-weight: 600; color: #111; ">ÉCOUTEURS FILAIRES</p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-5 align-self-center">
                  <p style="
                     background: #f36767;
                     color: #fff;
                     padding: 5px 20px;
                     border-radius: 20px;
                     font-size: 17px;
                     margin-bottom: 20px;
                     ">Filaire</p>
                  <p style="
                     color: #111;
                     line-height: 20px;
                     margin-bottom: 15px;
                     font-size: 17px;
                     ">Fils sales et emmêlés.</p>
                  <p style="
                     color: #111;
                     line-height: 20px;
                     font-size: 17px;
                     margin-bottom: 15px;
                     ">Trop court pour le partage.</p>
                  <p style="
                     color: #111;
                     line-height: 20px;
                     font-size: 17px;
                     margin-bottom: 15px;
                     ">S'accroche facilement.</p>
                  <p style="
                     color: #111;
                     line-height: 20px;
                     font-size: 17px;
                     margin-bottom: 15px;
                     ">Casse facilement.</p>
               </div>
            </div>
         </div>
      </div>
   </section>


  
</div>

<section class="features-more section-spacing section-bg-b">
    <div class="ui-shape ui-shape-s2"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8" style="text-align: center;margin-bottom: 50px;">
                <p style="text-transform: uppercase;font-size: 11px;margin-top: 10px;color: #ffbe5d;margin-bottom: 0px;"><svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg><!-- <i class="fas fa-star"></i> --><svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg><!-- <i class="fas fa-star"></i> --><svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg><!-- <i class="fas fa-star"></i> --><svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg><!-- <i class="fas fa-star"></i> --><svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" data-prefix="far" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM388.6 312.3l23.7 138.4L288 385.4l-124.3 65.3 23.7-138.4-100.6-98 139-20.2 62.2-126 62.2 126 139 20.2-100.6 98z"></path></svg><!-- <i class="far fa-star"></i> --> <span style=" font-weight: 600; color: #7f7f7f; ">4.2/5 (12 684 votes)</span></p>
                <h2 style="font-size: 3em;">Les <span style=" color: #2c3038;">avis</span> de vos stars préférées !</h2>
                <a href="{{path('temoignage')}}" class="btn btn-primary">Les Avis</a>
            </div>
        </div>
    </div>
</section>
<section class="cta section-spacing" style="padding: 45px 0px;">
   <div class="ui-shape-s6"></div>
   <svg width="100%" height="100px" viewBox="0 0 1200 300" preserveAspectRatio="none" xmlns="https://www.w3.org/2000/svg">
      <g class="curve" stroke="#fff" fill="none" fill-rule="evenodd" transform="translate(0,90)">
         <path id="glowPath" d="M 0, 60 S 300, -60, 600, 60, 800, -120, 1200 60"></path>
         <path d="M 0, 60 S 200, -60, 400, 60, 900, -120, 1200 60"></path>
         <path d="M 0, 60 S 200, -70, 400, 70, 800, -120, 1200 60"></path>
      </g>
   </svg>
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-lg-10" style="text-align: center;">
            <p style="font-weight: 500;font-size: 20px;color: #ffffff;margin-bottom: 0px;">Notre produit est une paire de VinsPro.<br>Nous ne vendons pas de AirPods de la marque Apple.</p>
         </div>
      </div>
   </div>
</section>
<div class="container">
        <div class="row" style=" margin-bottom: 50px;margin-top: 50px; ">
            <div class="col-lg-4">
                <p style=" font-weight: 700; color: #2c3038; font-size: 21px; ">Statistiques</p>
                <p style=" font-size: 15px; "><span style=" border: 1px solid #e8e8e8; padding: 5px 10px; border-radius: 5px; background: #fdfdfd; margin-right: 10px; ">4-7 jours</span>de temps de livraison</p>
                <p style=" font-size: 15px; "><span style=" border: 1px solid #e8e8e8; padding: 5px 10px; border-radius: 5px; background: #fdfdfd; margin-right: 10px; ">12 684</span>avis clients</p>
                <p style=" font-size: 15px; "><span style=" border: 1px solid #e8e8e8; padding: 5px 10px; border-radius: 5px; background: #fdfdfd; margin-right: 10px; ">4.2/5</span>de note moyenne</p>
            </div>
            <div class="col-lg-4">
                <p style=" font-weight: 700; color: #2c3038; font-size: 21px; ">Assistance 7j/7</p>
                <p style="font-size: 14px;margin-bottom: 5px;">Contactez-nous par e-mail. Nous vous répondrons en moins de 24 heures.</p>
                <p style="font-size: 15px;margin-bottom: 5px;"><img style="margin-right: 5px;width: 20px;height: 20px;" src="https://cdn4.iconfinder.com/data/icons/glyphs/24/icons_email-512.png"> sav@vinspro.com</p>
                <p style=" font-size: 15px; "><img style="margin-right: 5px;width: 20px;height: 20px;" src="https://cdn4.iconfinder.com/data/icons/glyphs/24/icons_mobile-512.png"> +33 7 56 85 04 50</p>
            </div>
            <div class="col-lg-4">
                <p style=" font-weight: 700; color: #2c3038; font-size: 21px; ">Les avis clients</p>
                <p style="text-transform: uppercase;font-size: 20px;margin-top: 10px;color: #ffbe5d;margin-bottom: 0px;"><svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg><svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg><svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg><svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg><svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" data-prefix="far" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM388.6 312.3l23.7 138.4L288 385.4l-124.3 65.3 23.7-138.4-100.6-98 139-20.2 62.2-126 62.2 126 139 20.2-100.6 98z"></path></svg><span style="font-weight: 700;color: #212529;margin-left: 5px;">4.2/5</span></p><p style="font-size: 14px;">de note moyenne sur 12 684 notes par les clients de VinsPro.</p>
            </div>
        </div>
    </div>
{% endblock body_web %}
{% block javascripts %}
{{parent()}}
<script type="text/javascript">
   window.addEventListener("load",function(){
      if(mobileCheck()){
         $('#videoHeader').html('<source src="assets/video/video-bg-mobile.mp4" type="video/mp4">');
         console.log('mobile');
      }
      else{
         $('#videoHeader').html('<source src="assets/video/video-bg-pc.mp4" type="video/mp4">');
         console.log('pc');
      }

   });
   window.mobileCheck = function() {
      let check = false;
      (function(a){if(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows ce|xda|xiino/i.test(a)||/1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(a.substr(0,4))) check = true;})(navigator.userAgent||navigator.vendor||window.opera);
      return check;
   };
</script>
{% endblock %}
