{% extends 'layout.html.twig' %}
{% block title %} {{parent()}} | Marques {% endblock %}
{% block meta %}
<meta name="description" content="">
{% endblock %}
{% block dataStructured %}{% endblock %}
{% block stylesheets %}
{{parent()}}
<style type="text/css">
   nav.navbar.navbar-expand-lg.navbar-dark {
       background: transparent;
   }
   nav.navbar.navbar-expand-lg.navbar-dark.position-fixed.scrolled {
       background: white;
   }
   .list-marque .marque-item{
      color: #333;
   }
   .list-marque .marque-item .marque-title{
      color: #009b72;
   }
   .marque-item .img-marque{
      display: block;
      max-width: 100%;
      height: 100%;
      object-fit: contain;
      margin: auto;
   }
</style>
{% endblock %}
{% block body_web %}
<div data-overlay class="bg-primary-3 jarallax text-white" data-jarallax data-speed="0.2">
   <section class="features-more section-spacing section-bg-b">
      <div class="ui-shape ui-shape-s2"></div>
      <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8" style="text-align: center;margin-bottom: 50px;">
               
                <h2 style="color:#192d35">Les <span style=" color: #229b72; ">Marques</span></h2>
            </div>
        </div>
         <div class="row justify-content-center">
            <div class="row list-marque">
              {% for marque in marques %}
                <div class="col-md-12 mb-3 mb-md-12 marque-item">
                  <div class="card card-body">
                    <div class="row">
                      <a class="col-sm-3" href="#">
                        <img class="rounded img-fluid hover-fade-out img-marque" src="{{asset('assets/img/products/' ~ marque.image)}}" alt="img-marque">
                      </a>
                      <div class="col-sm-9">
                          <h5 class="mt-4 marque-title">{{marque.name}}</h5>
                          <div>
                            Unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa. Unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa Unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa Unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
        </div>
         </div>
      </div>
   </section>
</div>
{% endblock body_web %}
{% block javascripts %}
{{parent()}}
{% endblock %}