{% extends 'layout.html.twig' %}
{% block title %} {{parent()}} | Connexion {% endblock %}
{% block meta %}
    <meta name="description" content="">
{% endblock %}

{% block dataStructured %}{% endblock %}

{% block stylesheets %}
  {{parent()}}
    <style type="text/css">
      .bg-success-alt{background: #fff}
      .container-plan h2, .container-plan h6{
        color: #fff;
      }
    </style>
{% endblock %}

{% block body_web %}

  <div data-overlay class="bg-gradient min-vh-100 bg-light d-flex flex-column justify-content-md-center o-hidden">
      <section class="py-3">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-5 col-md-6 mb-5 mb-md-0">
              <div class="card card-body shadow">
                <h1 class="h5 text-center">Inscription</h1>
                {% if error is defined %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ form_errors(form) }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                {% endif %}
                
                  {{ form_start(form) }}
                  <div class="form-group">
                    {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder':'votre nom'}}) }}
                  </div>
                  <div class="form-group">
                    {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder':'votre e-mail'}}) }}
                  </div>
                  <div class="form-group">
                    {{ form_widget(form.password.first, {'attr': {'class':
                  'form-control', 'placeholder':'mot de passe'}}) }}
                  </div>
                  <div class="form-group">
                    {{ form_widget(form.password.second, {'attr': {'class':
                      'form-control', 'placeholder':'confirmer mot de passe'}}) }}
                  </div>
                  <div class="form-group">
                    <div class="custom-control custom-checkbox text-small">
                      <input type="checkbox" class="custom-control-input" id="sign-up-agree">
                      <label class="custom-control-label" for="sign-up-agree">I agree to the <a target="_blank" href="utility-legal-terms.html">Terms &amp; Conditions</a>
                      </label>
                    </div>
                  </div>
                  <button class="btn btn-primary btn-block" type="submit" >Inscription</button>
                  {{ form_end(form) }}
              </div>
              <div class="text-center text-small mt-3" style="color:#fff">
                Vous avez deja un compte? <a href="{{path('app_login')}}" style="color:#fff">Connectez-vous ici</a>
              </div>
            </div>
            <div class="col-md-6 col-lg-auto ml-lg-5 ">
              <div class="mb-5">
                <div class="mb-2 mb-md-4" data-aos="fade-left" data-aos-delay="100">
                  <div class="media rounded align-items-center pl-3 pr-3 pr-md-4 py-2 bg-white shadow-sm">
                    <img src="{{ asset('assets/img/avatars/male-4.jpg')}}" alt="Harvey Derwent avatar image" class="avatar avatar-sm flex-shrink-0 mr-3">
                    <div class="text-dark mb-0">&ldquo;We are working at almost twice the capacity&rdquo;</div>
                  </div>
                </div>
                <div class="mb-2 mb-md-4" data-aos="fade-left" data-aos-delay="200">
                  <div class="media rounded align-items-center pl-3 pr-3 pr-md-4 py-2 bg-white shadow-sm">
                    <img src="{{ asset('assets/img/avatars/male-1.jpg')}}" alt="Harvey Derwent avatar image" class="avatar avatar-sm flex-shrink-0 mr-3">
                    <div class="text-dark mb-0">&ldquo;Jumpstart increases productivity.&rdquo;</div>
                  </div>
                </div>
              </div>
              <div class="container-plan">
                <h2>All plans include:</h2>
                <div class="mb-3" data-aos="fade-left" data-aos-delay="300">
                  <div class="d-flex align-items-center">
                    <div class="rounded-circle bg-success-alt">
                      <img src="{{ asset('assets/img/icons/interface/icon-check.svg')}}" alt="Binoculars icon" class="m-2 icon icon-xs bg-success" data-inject-svg>
                    </div>
                    <h6 class="mb-0 ml-3">Fully Responsive</h6>
                  </div>
                </div>
                <div class="mb-3" data-aos="fade-left" data-aos-delay="400">
                  <div class="d-flex align-items-center">
                    <div class="rounded-circle bg-success-alt">
                      <img src="{{ asset('assets/img/icons/interface/icon-check.svg')}}" alt="Layouts icon" class="m-2 icon icon-xs bg-success" data-inject-svg>
                    </div>
                    <h6 class="mb-0 ml-3">Multiple Layouts</h6>
                  </div>
                </div>
                <div class="mb-3" data-aos="fade-left" data-aos-delay="500">
                  <div class="d-flex align-items-center">
                    <div class="rounded-circle bg-success-alt">
                      <img src="{{ asset('assets/img/icons/interface/icon-check.svg')}}" alt="Box icon" class="m-2 icon icon-xs bg-success" data-inject-svg>
                    </div>
                    <h6 class="mb-0 ml-3">Modular Components</h6>
                  </div>
                </div>
                <div class="mb-3" data-aos="fade-left" data-aos-delay="600">
                  <div class="d-flex align-items-center">
                    <div class="rounded-circle bg-success-alt">
                      <img src="{{ asset('assets/img/icons/interface/icon-check.svg')}}" alt="Lightning icon" class="m-2 icon icon-xs bg-success" data-inject-svg>
                    </div>
                    <h6 class="mb-0 ml-3">Suits Your Style</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

{% endblock body_web %}

{% block javascripts %}
  {{parent()}}
{% endblock %}
