{% extends 'admin/layout.html.twig' %}
{% block title %} {{parent()}} | Editer Abonnement {% endblock %}

{% block dataStructured %}{% endblock %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" type="text/css" href="{{asset('assetsBo/plugins/table/datatable/datatables.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('assetsBo/plugins/table/datatable/custom_dt_html5.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('assetsBo/plugins/table/datatable/dt-global_style.css')}}">
    <style type="text/css">
        .widget-content-area{box-shadow: none;}
    </style>
{% endblock %}
{% block body_bo %}
<div class="layout-px-spacing">
    <div class="row layout-top-spacing">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="margin-bottom:24px;">
            <div class="statbox widget box box-shadow">
                <div class="widget-header">                                
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h4>Nouveau Abonnement</h4>
    {{ include('abonnement/_form.html.twig', {'button_label': 'Update'}) }}
                        </div>
                    </div>
                </div>
                <div class="widget-content widget-content-area" style="height: 571px;">

    {{ include('abonnement/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{parent()}}

{% endblock %}



