{% extends 'admin/layout.html.twig' %}
{% block title %} {{parent()}} | Abonnement {% endblock %}

{% block dataStructured %}{% endblock %}
{% block body %}
    <h1>Abonnement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ abonnement.id }}</td>
            </tr>
            <tr>
                <th>Start</th>
                <td>{{ abonnement.start ? abonnement.start|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>End</th>
                <td>{{ abonnement.end ? abonnement.end|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ abonnement.state }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('abonnement_index') }}">back to list</a>

    <a href="{{ path('abonnement_edit', {'id': abonnement.id}) }}">edit</a>

    {{ include('abonnement/_delete_form.html.twig') }}
{% endblock %}
