{% extends 'admin/layout.html.twig' %}
{% block title %} {{parent()}} | Formule {% endblock %}{% block stylesheets %}
{{parent()}}
<style type="text/css">
   .widget-content-area{box-shadow: none;}
</style>
{% endblock %}
{% block body_bo %}
<div class="layout-px-spacing">
   <div class="row layout-top-spacing">
      <div class="col-md-6 col-sm-12 layout-spacing">
         <div class="widget widget-chart-three">
             <div class="widget-heading">
                 <h5 class="">Taux resiliation abonnements</h5>
                 <ul class="tabs tab-pills" style="display: none;">
                     <li><a href="javascript:void(0);" id="tb_1" class="tabmenu">Monthly</a></li>
                 </ul>
             </div>

             <div class="widget-content">
                  <div class="widget-content widget-content-area br-6">
                      <div id="donut-chart"></div>
                  </div>
             </div>
         </div>
      </div>

      <div class="col-md-6 col-sm-12 col-12 layout-spacing">
         <div class="widget widget-chart-three">
             <div class="widget-heading">
                 <h5 class="">Taux d'abonnements payés</h5>
             </div>
             <div class="widget-content">
                 <div class="widget-content widget-content-area br-6">
                      <div id="donut-chart-2"></div>
                  </div>
             </div>
         </div>
      </div>
   </div>

   <div class="row layout-top-spacing">
      <div class="col-md-6 col-sm-12 layout-spacing">
         <div class="widget widget-chart-three">
             <div class="widget-heading">
                 <h5 class="">Taux de commandes rembousées</h5>
                 <ul class="tabs tab-pills" style="display: none;">
                     <li><a href="javascript:void(0);" id="tb_1" class="tabmenu">Monthly</a></li>
                 </ul>
             </div>

             <div class="widget-content">
                  <div class="widget-content widget-content-area br-6">
                      <div id="donut-chart-3"></div>
                  </div>
             </div>
         </div>
      </div>

      <div class="col-md-6 col-sm-12 col-12 layout-spacing">
         <div class="widget widget-chart-three">
             <div class="widget-heading">
                 <h5 class="">Taux de commandes payées</h5>
             </div>
             <div class="widget-content">
                 <div class="widget-content widget-content-area br-6">
                      <div id="donut-chart-4"></div>
                  </div>
             </div>
         </div>
      </div>
   </div>

   <div class="row layout-top-spacing">
      <div class="col-md-6 col-sm-12 layout-spacing">
         <div class="widget widget-chart-three">
             <div class="widget-heading">
                 <h5 class="">Taux d'achat pour les visiteurs</h5>
                 <ul class="tabs tab-pills" style="display: none;">
                     <li><a href="javascript:void(0);" id="tb_1" class="tabmenu">Monthly</a></li>
                 </ul>
             </div>

             <div class="widget-content">
                  <div class="widget-content widget-content-area br-6">
                      <div id="donut-chart-5"></div>
                  </div>
             </div>
         </div>
      </div>

      <div class="col-md-6 col-sm-12 col-12 layout-spacing">
         <div class="widget widget-chart-three">
             <div class="widget-heading">
                 <h5 class="">Taux d'achats recurrents</h5>
             </div>
             <div class="widget-content">
                 <div class="widget-content widget-content-area br-6">
                      <div id="donut-chart-6"></div>
                  </div>
             </div>
         </div>
      </div>
   </div>

   <div class="row layout-top-spacing">
      <div class="col-sm-12 layout-spacing">
         <div class="widget widget-chart-three">
             <div class="widget-heading">
                 <h5 class="">Vente de la semaine</h5>
             </div>

             <div class="widget-content">
                  <div class="widget-content widget-content-area">
                     <div id="s-col" class=""></div>
                  </div>
             </div>
         </div>
      </div>
   </div>
   <div class="row layout-top-spacing">
      <div class="col-sm-12 layout-spacing">
         <div class="table-responsive">
             <table class="table table-bordered mb-4" style="background:#fff">
                 <thead>
                     <tr>
                        <th>RECAP SEMAINE</th>
                        {% for item in rapportSemaineCmd.x_axis %}
                           <th>{{item}}</th>
                        {% endfor %}
                     </tr>
                 </thead>
                 <tbody>
                    {% set CA_SEMAINE = 0  %}
                    <tr>
                       <td>Nbr Commande</td>
                       {% for item in rapportSemaineCmd.nbr_commande %}
                          <th>{{item}}</th>
                       {% endfor %}
                    </tr>
                    <tr style="border-bottom:2px solid #ebedf2">
                       <td>Montant Commande €</td>
                       {% for item in rapportSemaineCmd.vente %}
                          <th>{{item}}</th>
                          {% set CA_SEMAINE = CA_SEMAINE + item  %}
                       {% endfor %}
                    </tr>
                    <tr>
                       <td>Nbr Abonnement</td>
                       {% for item in rapportSemaineAbon.nbr_commande %}
                          <th>{{item}}</th>
                       {% endfor %}
                    </tr>
                    <tr>
                       <td>Montant Abonnement €</td>
                       {% for item in rapportSemaineAbon.vente %}
                          <th>{{item}}</th>
                          {% set CA_SEMAINE = CA_SEMAINE + item  %}
                       {% endfor %}
                    </tr>
                    <tr style="font-weight: 900;"> 
                        <td>CHIFFRE D'AFFAIRE</td>
                        <td colspan="{{ rapportSemaineCmd.x_axis|length }}" style="text-align:center; font-size: 18px;font-size:25px 0px">{{CA_SEMAINE}}€</td>
                    </tr>
                 </tbody>
             </table>
         </div>
      </div>
   </div>

   <div class="row layout-top-spacing">
      <div class="col-sm-12 layout-spacing">
         <div class="widget widget-chart-three">
             <div class="widget-heading">
                 <h5 class="">Vente du mois</h5>
             </div>

             <div class="widget-content">
                  <div class="widget-content widget-content-area">
                     <div id="s-col-2" class=""></div>
                  </div>
             </div>
         </div>
      </div>
   </div>
   <div class="row layout-top-spacing">
      <div class="col-sm-12 layout-spacing">
         <div class="table-responsive">
             <table class="table table-bordered mb-4" style="background:#fff">
                 <thead>
                     <tr>
                        <th>RECAP MOIS</th>
                        {% for item in rapportMoisCmd.x_axis %}
                           <th>{{item}}</th>
                        {% endfor %}
                     </tr>
                 </thead>
                 <tbody>
                    {% set CA_MOIS = 0  %}
                        <tr>
                           <td>Nbr Commande</td>
                           {% for item in rapportMoisCmd.nbr_commande %}
                              <th>{{item}}</th>
                           {% endfor %}
                        </tr>
                        <tr style="border-bottom:2px solid #ebedf2">
                           <td>Montant Commande €</td>
                           {% for item in rapportMoisCmd.vente %}
                              <th>{{item}}</th>
                              {% set CA_MOIS = CA_MOIS + item  %}
                           {% endfor %}
                        </tr>
                        <tr>
                           <td>Nbr Abonnement</td>
                           {% for item in rapportMoisAbon.nbr_commande %}
                              <th>{{item}}</th>
                           {% endfor %}
                        </tr>
                        <tr>
                           <td>Montant Abonnement €</td>
                           {% for item in rapportMoisAbon.vente %}
                              <th>{{item}}</th>
                              {% set CA_MOIS = CA_MOIS + item  %}
                           {% endfor %}
                        </tr>
                        <tr style="font-weight: 900;"> 
                            <td>CHIFFRE D'AFFAIRE</td>
                            <td colspan="{{ rapportMoisCmd.x_axis|length }}" style="text-align:center; font-size: 18px;font-size:25px 0px">{{CA_MOIS}}€</td>
                        </tr>
                 </tbody>
             </table>
         </div>
      </div>
   </div>

   <div class="row layout-top-spacing">
      <div class="col-sm-12 layout-spacing">
         <div class="widget widget-chart-three">
             <div class="widget-heading">
                 <h5 class="">Vente de l'année</h5>
             </div>

             <div class="widget-content">
                  <div class="widget-content widget-content-area">
                     <div id="s-col-3" class=""></div>
                  </div>
             </div>
         </div>
      </div>
   </div>
   <div class="row layout-top-spacing">
      <div class="col-sm-12 layout-spacing">
         <div class="table-responsive">
             <table class="table table-bordered mb-4" style="background:#fff">
                 <thead>
                     <tr>
                        <th>RECAP ANNEE</th>
                        {% for item in rapportAnneeCmd.x_axis %}
                           <th>{{item}}</th>
                        {% endfor %}
                     </tr>
                 </thead>
                 <tbody>
                    {% set CA_ANNEE = 0  %}
                        <tr>
                           <td>Nbr Commande</td>
                           {% for item in rapportAnneeCmd.nbr_commande %}
                              <th>{{item}}</th>
                           {% endfor %}
                        </tr>
                        <tr style="border-bottom:2px solid #ebedf2">
                           <td>Montant Commande €</td>
                           {% for item in rapportAnneeCmd.vente %}
                              <th>{{item}}</th>
                              {% set CA_ANNEE = CA_ANNEE + item  %}
                           {% endfor %}
                        </tr>
                        <tr>
                           <td>Nbr Abonnement</td>
                           {% for item in rapportAnneeAbon.nbr_commande %}
                              <th>{{item}}</th>
                           {% endfor %}
                        </tr>
                        <tr>
                           <td>Montant Abonnement €</td>
                           {% for item in rapportAnneeAbon.vente %}
                              <th>{{item}}</th>
                              {% set CA_ANNEE = CA_ANNEE + item  %}
                           {% endfor %}
                        </tr>
                        <tr style="font-weight: 900;"> 
                            <td>CHIFFRE D'AFFAIRE</td>
                            <td colspan="{{ rapportAnneeCmd.x_axis|length }}" style="text-align:center; font-size: 18px;font-size:25px 0px">{{CA_ANNEE}}€</td>
                        </tr>
                 </tbody>
             </table>
         </div>
      </div>
   </div>


</div>
{% endblock %}
{% block javascripts %}
{{parent()}}
<script type="text/javascript">
   $('#sidebar .menu.menu-statistique').addClass('active');

   var donutChart = {
      chart: {
          height: 350,
          type: 'donut',
          toolbar: {
            show: false,
          }
      },
      series: [],
      labels: [],
      responsive: [{
          breakpoint: 480,
          options: {
              chart: {
                  width: 200
              },
              legend: {
                  position: 'bottom'
              }
          }
      }]
    }

    var donutChart1 = donutChart;
    donutChart1.series = [parseInt("{{abonnementResilie}}"), (parseInt("{{abonnements}}") - parseInt("{{abonnementResilie}}"))];
    donutChart1.labels = ['Resilés', 'Non resilés'];
    var donut = new ApexCharts(
        document.querySelector("#donut-chart"),
        donutChart1
    );

    var donutChart2 = donutChart;
    donutChart2.series = [parseInt("{{abonnementPaye}}"), (parseInt("{{abonnements}}") - parseInt("{{abonnementPaye}}"))];
    donutChart2.labels = ['Payés', 'Non payés'];
    var donut2 = new ApexCharts(
        document.querySelector("#donut-chart-2"),
        donutChart2
    );

    var donutChart3 = donutChart;
    donutChart3.series = [parseInt("{{remboursement}}"), (parseInt("{{commandes}}") - parseInt("{{remboursement}}"))];
    donutChart3.labels = ['Remboursé', 'Non remboursé'];
    var donut3 = new ApexCharts(
        document.querySelector("#donut-chart-3"),
        donutChart3
    );

    var donutChart4 = donutChart;
    donutChart4.series = [parseInt("{{commandePaye}}"), (parseInt("{{commandes}}") - parseInt("{{commandePaye}}"))];
    donutChart4.labels = ['Payé', 'Non payé'];
    var donut4 = new ApexCharts(
        document.querySelector("#donut-chart-4"),
        donutChart4
    );

    var donutChart5 = donutChart;
    donutChart5.series = [parseInt("{{countVisiteurPaid}}"), (parseInt("{{countVisiteur}}") - parseInt("{{countVisiteurPaid}}"))];
    donutChart5.labels = ['Ayant acheté', 'Aucun achat'];
    var donut5 = new ApexCharts(
        document.querySelector("#donut-chart-5"),
        donutChart5
    );

    var donutChart6 = donutChart;
    donutChart6.series = [parseInt("{{countRecurrentPaid}}"), (parseInt("{{countVisiteurPaid}}") - parseInt("{{countRecurrentPaid}}"))];
    donutChart6.labels = ['Achat recurrents', 'Achat unique'];
    var donut6 = new ApexCharts(
        document.querySelector("#donut-chart-6"),
        donutChart6
    );

    donut.render();
    donut2.render();
    donut3.render();
    donut4.render();
    donut5.render();
    donut6.render();



   var sCol = {
       chart: {
           height: 350,
           type: 'bar',
           toolbar: {
             show: false,
           }
       },
       plotOptions: {
           bar: {
               horizontal: false,
               columnWidth: '55%',
               endingShape: 'rounded'  
           },
       },
       dataLabels: {
           enabled: false
       },
       stroke: {
           show: true,
           width: 2,
           colors: ['transparent']
       },
       series: [],
       xaxis: {},
       yaxis: {
           title: {
               text: ''
           }
       },
       fill: {
           opacity: 1

       },
       tooltip: {
           y: {
               formatter: function (val) {
                   return val + "€"
               }
           }
       }
   }


   var DATA_SEMAINE = {{ rapportSemaineCmd|json_encode()|raw }};
   var DATA_ABON_SEMAINE = {{ rapportSemaineAbon|json_encode()|raw }};
   var sCol_semaine = sCol;
   sCol_semaine.series = [
      { name: 'Ipods vendu', data: DATA_SEMAINE.vente },
      { name: 'Abonnements', data: DATA_ABON_SEMAINE.vente }
   ];
   sCol_semaine.xaxis = { categories: DATA_SEMAINE.x_axis};
   var chart1 = new ApexCharts(
       document.querySelector("#s-col"),
       sCol_semaine
   );

   var DATA_MOIS = {{ rapportMoisCmd|json_encode()|raw }};
   var DATA_ABON_MOIS = {{ rapportMoisAbon|json_encode()|raw }};
   var sCol_mois = sCol;
   sCol_mois.series = [
      { name: 'Ipods vendu', data: DATA_MOIS.vente },
      { name: 'Abonnements', data: DATA_ABON_MOIS.vente }
   ];
   sCol_mois.xaxis = { categories: DATA_MOIS.x_axis};
   var chart2 = new ApexCharts(
       document.querySelector("#s-col-2"),
       sCol_mois
   );

   var DATA_ANNEE = {{ rapportAnneeCmd|json_encode()|raw }};
   var DATA_ABON_ANNEE = {{ rapportAnneeAbon|json_encode()|raw }};
   var sCol_annee = sCol;
   sCol_annee.series = [
      { name: 'Ipods vendu', data: DATA_ANNEE.vente },
      { name: 'Abonnements', data: DATA_ABON_ANNEE.vente }
      ];
   sCol_annee.xaxis = { categories: DATA_ANNEE.x_axis};
   var chart3 = new ApexCharts(
       document.querySelector("#s-col-3"),
       sCol_annee
   );

   chart1.render();
   chart2.render();
   chart3.render();
</script>
{% endblock %}