<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-Type" content="text/html; charset=utf-8"/>
    <style>
      @font-face {
        font-family: 'Quicksand';
        font-style: normal;
        font-weight: normal;
        src: url(assets/fonts/quicksand/Quicksand-Bold.ttf) format('truetype');
      }
      @font-face {
        font-family: 'Quicksand-Bold';
        font-style: normal;
        font-weight: normal;
        src: url(assets/fonts/quicksand/Quicksand-Light.ttf) format('truetype');
      }
      @page {
        margin:0px;
      }

      body { font-family: HelveticaNeue, sans-serif; color: #555A64}
      hr {
        page-break-after: always;
        border: 0;
      }
      .container-content{
        position: absolute;
        z-index: 17;
      }
      .container-content{
        padding: 40px 50px 50px 60px;
      }
      .head{
        line-height: 33px;
        color: #333;
      }
      a{
        color: #009b72;
        font-weight: 600;
        text-decoration: none;
      }
      .separate{
        border-top: 1px solid #f1efef;
      }
      h1{color: #333}
      h1 .badge{
        display: inline-block;
        color: #fff;
        font-size: 12px;
        background: #009b72;
        padding: 6px 6px;
        border-radius: 8px;
      }
      .infos-client{float: left;}
      table{
        width: 100%;
      }
      .infos-contact{
        margin-top: 46px;
        margin-bottom: 70px;
        line-height: 23px;
      }
      td{
        border-bottom: 1px solid #EAEDF2;
        padding: 16px 0;
      }
      .clearfix{
        display: table;
        content: "";
        clear: both;
      }
    </style>
  </head>
  <body>  
    <div class="container-content"> 
      <div class="head">
        <div>EpodsOne</div>
        <div>Paris France</div>
        <a href="">contact@epodsone.com</a>
      </div>

      <div class="separate" style="margin-top: 37px;"></div>
      <h1 style="padding-top: 58px">Facture Client 
        {#{% if data.status == 0 %}
          <div class="badge badge-info">ENCOURS</div>
          {% elseif data.status == 1 %}
          <div class="badge badge-success">PAYEE</div>
          {% elseif data.status == -1 %}
          <div class="badge badge-danger">EXPIREE</div>
          {% endif %}#}</h1>
      <div class="infos-contact">
        <div class="infos-client" style="float: left;">
          <span>Adresse à :</span><br>
          <span>{{data.user.surname}} {{data.user.name}}</span><br>
          <span>{{data.user.email}}</span>
          <span>{{data.user.town}},{{data.user.country}}
                      <br />{{data.user.street}}</span>
        </div>
        <div class="infos-commande" style="float: right;width: 180px;" >
          <div class="label-wrapper" style="float: left;font-weight: 600">
            <div>Facture No:</div>
            <div style="padding-left: 16px;">Emission:</div>
          </div>
          <div class="label-wrapper" style="float: right;">
            <div>#{{data.id}}</div>
            <div>{{data.emmission|date('d/m/y')}}</div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
      </div>

      <table>
        <tbody>
          <tr class="header" style="font-family: 'Quicksand';background: #f7f9fc; font-weight: 600;">
            <td class="td_left" width="25%" style="padding: 14px 0;font-weight: 600;">Element</td>
            <td class="td_right" width="25%" style="padding: 14px 0;font-weight: 600;">Quantite</td>
            <td class="td_right" width="25%" style="padding: 14px 0;font-weight: 600;">Prix Unitaire</td>
            <td class="td_right" width="25%" style="padding: 14px 0;font-weight: 600;">Total</td>
          </tr>
          {% if type_produit == "abonnement" %}
            {% for abonnements in data.abonnements %}
              <tr>
                <td class="td_left">Abonnement {{abonnements.formule.name}}</td>
                <td class="td_right">1</td>
                <td class="td_right">{{abonnements.formule.price}}</td>
                <td class="td_right">{{abonnements.formule.price}}€</td>
              </tr>
            {% endfor %}
          {% endif %}
          {% if type_produit == "product" %}
            {% for commande in data.commandes %}
              <tr>
                <td class="td_left">{{commande.product.name}}</td>
                <td class="td_right">{{commande.quantity}}</td>
                <td class="td_right">{{commande.price}}</td>
                <td class="td_right">{{commande.getTotalPrice()}}€</td>
              </tr>
            {% endfor %}
          {% endif %}
          <tr>
            <td colspan="4" style="padding-top: 19px;font-size: 14px;border-bottom: none">Reduction coupons:<br><b>{{data.getTotalReduction()}} EUR</b></td>
          </tr>
          <tr>
            <td style="text-align: right;padding-top: 25px; border-bottom: none"  colspan="4">Net A payer <br>
              <h1 style="font-size: 24px;">
                {% if total_price <= 0 %}
                  0 EUR
                {% else %}
                  {{total_price}} EUR
                {% endif %}

                {% if data.getTotalReduction() > 0 %}
                  <strike>{{total_price + data.getTotalReduction()}} EUR</strike></h1>
                {% endif %}
            </td>
          </tr>
        </tbody>
      </table>
      <div class="separate"></div>
      <div style="padding-top: 15px;font-size: 14px;">
        Payer a : <br>
        <span>contact@epodsone.com</span>
      </div>
    </div>
  </body>
</html>