<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#AFAFAF">
    <tbody>
      <tr><td height="20"></td></tr>
      <tr>
        <td valign="top" align="center">
          <table width="650" align="center" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
            <tbody>
              <tr style="">
                <td width="650" align="center" valign="top" style="background: green;">
                  <a href="{{url}}" target="_blank"><img src="{{url}}/assets/img/logos/logo-blanc.png" width="" height="" border="0" alt="{{url}}" class="CToWUd" style="max-height: 64px; padding: 9px 0;"></a>
                </td>
              </tr>
              <tr>
                <td width="650">
                  <table width="650" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                      <tr>
                        <td width="650" align="left" valign="top" bgcolor="#ffffff" style="font-family:Segoe UI,Arial,Helvetica,sans-serif;font-size:16px;color:#111111;padding:4px 16px; line-height: 37px;">{{content|raw}}</td>
                      </tr>
                    </tbody>
                  </table>
                </td> 
              </tr>
              <tr><td height="40"></td></tr>
              <tr>
                <td width="650" align="left" valign="middle" bgcolor="#F3F3F3" style="font-family:Segoe UI,Arial,Helvetica,sans-serif;font-size:12px;color:#555555;padding:15px">© 2020, VinsPro Protection des donnees et Conditions d'utilisation <br> <a href="{{url}}" target="_blank">{{url}}</a><strong> 06 58 96 45 64</strong></td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr><td height="20"></td></tr>
    </tbody>
  </table>
</body>
</html>