<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <title>{% block title %}Vinspro{% endblock %}</title>
        {% block meta %}{% endblock %}
        {% block dataStructured %}{% endblock %}
        {% block stylesheets %}{% endblock %}
        {#<link rel="stylesheet" href="{{ asset('assets/plugins/toastr/toastr.min.css') }}"/>#}
        <style type="text/css">
          label.error{
            color: #bf0c0c;
            font-size: 13px;
            font-style: italic;
          }
        </style>
    </head>
    <body data-base-url="{{url('home')}}" class="{% block class %}{% endblock %}">
    
      {% block body %}{% endblock %}
    <div class="toast__container">
      <div class="toast__cell">
      </div>
    </div>
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('assets/plugins/toastr/toastr.min.js') }}"></script>
        <script src="{{ asset('assets/plugins/jqueryvalidation/jquery.validate.min.js') }}"></script>
      <script src="{{ asset('assets/plugins/jqueryvalidation/localization/messages_fr.min.js') }}"></script>
      <script src="{{ asset('assets/plugins/jqueryvalidation/additional-methods.min.js') }}"></script>
      <script>
        jQuery(document).ready(function() { 
            {% for message in app.flashes('success') %}
                notification("Notification","{{ message }}","success");
            {% endfor %}
            {% for message in app.flashes('error') %}
                notification("Notification","{{ message }}","error");
            {% endfor %}
            {% for message in app.flashes('warning') %}
            notification("Notification","{{ message }}","warning");
            {% endfor %}
        });

        isObjectEmpty = function(obj) {
            for(var key in obj) {
                if(obj.hasOwnProperty(key))
                    return false;
            }
            return true;
        };
    </script>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
    /*var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/5ebe63698ee2956d73a15d85/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();*/
    </script>
    <!--End of Tawk.to Script-->
    </body>
</html>
