<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Epotrade{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        {% block meta %}{% endblock %}
        {% block dataStructured %}{% endblock %}
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('assets/plugins/toastr/toastr.min.css') }}"/>
        <style type="text/css">
          label.error{
            color: #bf0c0c;
            font-size: 13px;
            font-style: italic;
          }
        </style>
    </head>
    <body data-base-url="" class="{% block class %}{% endblock %}">

      {% block body %}{% endblock %}

        {% block javascripts %}{% endblock %}
        <script src="{{ asset('assets/plugins/toastr/toastr.min.js') }}"></script>
        <script src="{{ asset('assets/plugins/jqueryvalidation/jquery.validate.min.js') }}"></script>
      <script src="{{ asset('assets/plugins/jqueryvalidation/localization/messages_fr.min.js') }}"></script>
      <script src="{{ asset('assets/plugins/jqueryvalidation/additional-methods.min.js') }}"></script>
      <script>
        jQuery(document).ready(function() { 
            {% for message in app.flashes('success') %}
              toastr.success("{{ message }}");
            {% endfor %}
            {% for message in app.flashes('error') %}
                toastr.error("{{ message }}");
            {% endfor %}
            {% for message in app.flashes('warning') %}
                toastr.warning("{{ message }}");
            {% endfor %}
        });

        isObjectEmpty = function(obj) {
            for(var key in obj) {
                if(obj.hasOwnProperty(key))
                    return false;
            }
            return true;
        };
    </script>
    </body>
</html>
