<style type="text/css">
    button[type=submit]{float: right;}
</style>

{{ form_start(form) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>

    <form>
        <div class="form-row mb-4">
            <div class="form-group col-md-4">
                <label for="inputEmail4">Nom de la formule</label>
                 {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder':'Nom'}}) }} 
            </div>
            <div class="form-group col-md-4">
                <label for="inputCity">Cout de l'anonnement</label>
                {{ form_widget(form.price, {'attr': {'class': 'form-control','type': 'decimal','required': false, 'placeholder':'Cout de la formule'}}) }} 
            </div>  
            <div class="form-group col-md-4">
                <label for="inputCity">stripe product id</label>
                <select name="stripe_product_id" class="form-control" required="true">
                    {% for product in stripeProducts %}
                        <option value="{{product.id}}" {% if formule.getStripeProductId == product.id %} selected="selected" {% endif %}>
                            {{product.name}}
                        </option>
                    {% endfor %}
                </select>
            </div>  
        </div>
       
        <div class="form-row mb-4">
            <div class="form-group col-md-4">
                <label for="inputCity">Nombre de mois</label>
                {{ form_widget(form.month, {'attr': {'class': 'form-control', 'placeholder':'Nombre de mois'}}) }} 
            </div>
            <div class="form-group col-md-4">
                <label for="inputState">Prix de Livraison</label>
                 {{ form_widget(form.price_shipping, {'attr': {'class': 'form-control', 'placeholder':'Prix de Livraison'}}) }}
            </div>
            <div class="form-group col-md-4">
                <label for="inputZip">Jour d'essaie</label>
                 {{ form_widget(form.try_days, {'attr': {'class': 'form-control', 'placeholder':'Jour pour essayer'}}) }}
            </div>
        </div>
        <div class="form-group mb-4">
            <label for="inputAddress">Description</label>
             {{ form_widget(form.message, {'attr': {'class': 'form-control ckeditor', 'placeholder':'Description'}}) }}
        </div>    
        {{ form_widget(form._token) }}
        <button type="submit" class="btn btn-primary mt-3">{{ button_label|default('Ajout | Modification') }}</button>
    </form>
{{ form_end(form) }}
