
<style type="text/css">
	button[type=submit]{float: right;}
	.form-control.date{
		display: flex;
		justify-content: space-around;
	}
</style>

{{ form_start(form) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>

    <form>
    	<div class="form-row mb-4">
            <div class="form-group col-md-4">
                <label for="">Abonnement</label>
                {{ form_widget(form.abonnement, {'attr': {'class': 'form-control'}}) }} 
            </div>
            <div class="form-group col-md-4">
                <label for="">Utilisateur</label>
                 {{ form_widget(form.user, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group col-md-4">
                <label for="">Montant</label>
                 {{ form_widget(form.amount, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-row mb-4">
            <div class="form-group col-md-4">
                <label for="">date subscription</label>
                 {{ form_widget(form.date_sub, {'attr': {'class': 'form-control dateTimeFlatpickr'}}) }} 
            </div> 
            <div class="form-group col-md-4">
                <label for="">date debitée</label>
                {{ form_widget(form.date_paid, {'attr': {'class': 'form-control dateTimeFlatpickr'}}) }} 
            </div>
            <div class="form-group col-md-4">
                <label for="">date expiration</label>
                {{ form_widget(form.date_expire, {'attr': {'class': 'form-control dateTimeFlatpickr'}}) }} 
            </div> 
        </div>
        <div class="form-row mb-4 container">
		    <div class="custom-control custom-checkbox custom-control-inline">
		    	{{ form_row(form.active) }} 
		    </div>
		    <div class="custom-control custom-checkbox custom-control-inline">
		        {{ form_row(form.is_paid) }} 
		    </div>
		    <div class="custom-control custom-checkbox custom-control-inline">
		        {{ form_row(form.is_resiliate) }}
		    </div>
		</div>
 
        {{ form_widget(form._token) }}
        <button type="submit" class="btn btn-primary mt-3">{{ button_label|default("Enregistrer") }}</button>
    </form>
{{ form_end(form) }}
