{% extends 'base.html.twig' %}

{% block title %}AbonnementSubscription{% endblock %}

{% block body %}
    <h1>AbonnementSubscription</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ abonnement_subscription.id }}</td>
            </tr>
            <tr>
                <th>Date_sub</th>
                <td>{{ abonnement_subscription.dateSub ? abonnement_subscription.dateSub|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date_expire</th>
                <td>{{ abonnement_subscription.dateExpire ? abonnement_subscription.dateExpire|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ abonnement_subscription.active ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Is_resiliate</th>
                <td>{{ abonnement_subscription.isResiliate ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Date_paid</th>
                <td>{{ abonnement_subscription.datePaid ? abonnement_subscription.datePaid|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Is_paid</th>
                <td>{{ abonnement_subscription.isPaid ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ abonnement_subscription.amount }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('abonnement_subscription_index') }}">back to list</a>

    <a href="{{ path('abonnement_subscription_edit', {'id': abonnement_subscription.id}) }}">edit</a>

    {{ include('abonnement_subscription/_delete_form.html.twig') }}
{% endblock %}
